---
# OpenAPI Spec for the KongAir Bookings service
openapi: 3.0.0

info:
  description: KongAir Bookings service provides customers the ability to book and retrieve flight bookings on KongAir
  version: 0.1.0
  title: Bookings Service

servers:
- url: https://api.kong-air.com
  description: KongAir API Server

tags:
- name: health
  description: Health check endpoints
- name: sales
  description: Customer sales endpoints

paths:
  /health:
    get:
      summary: Health check endpoint
      description: Endpoint that returns the service health status.
      operationId: bookings-health-check
      tags:
        - health
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "OK"
        '500':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "unhealthy"
  "/bookings":
    get:
      tags:
      - sales
      summary: Get a customers current bookings
      description: Returns a list of bookings for the customer
      operationId: get-bookings
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Booking'
              examples:
                Example Bookings list response:
                  value: |
                    [{
                      "ticket_number": "CDF3412",
                      "seat": "32A",
                      "flight": {
                        "number": "KA924",
                        "route_id": "LHR-SFO",
                        "scheduled_departure": "2023-09-03T09:15:00Z",
                        "scheduled_arrival": "2023-09-03T14:23:00Z"
                      }
                    }]
        '401':
          description: Unauthorized
    post:
      tags:
        - sales
      summary: Create a new customer booking
      description: Creates a new booking for the customer
      operationId: post-booking
      responses:
        '201':
          description: Booking Created Successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingResponse'
              examples:
                Example new booking response body:
                  value: |
                   {
                    "ticket_number": "CDF3412"
                   }
        '401':
          description: Unauthorized
        '404':
          description: Not Found, likely for the flight_number given
          content:
            text/plain:
              schema:
                type: string
              example: Not found
      requestBody:
        description: Defines a Booking Request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingRequest'
            examples:
              Example new booking request body:
                value: |
                 {
                   "flight_number": "KA924",
                   "seat": "32A"
                 }

components:
  schemas:
    Booking:
      description: A flight Booking object
      type: object
      properties:
        ticket_number:
          type: string
        flight:
          type: object
          properties:
            number:
              type: string
            route_id:
              type: string
            scheduled_departure:
              type: string
              format: date-time
            scheduled_arrival:
              type: string
              format: date-time
        seat:
          type: string
      required:
        - ticket_number
        - flight
      example:
        ticket_number: CDF3412
        flight:
          number: KA924
          route_id: LHR-SFO
          scheduled_departure: 2023-09-03T09:15:00Z
          scheduled_arrival: 2023-09-03T14:23:00Z
        seat: 32A
    BookingRequest:
      description: A flight Booking Request object
      type: object
      properties:
        flight_number:
          type: string
        seat:
          type: string
      required:
        - flight_number
      example:
        flight_number: KA924
        seat: 32A
    BookingResponse:
      description: A flight Booking Request Response object
      type: object
      properties:
        ticket_number:
          type: string
      required:
        - ticket_number
      example:
        ticket_number: CDF3412
